@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Tienda online de Productos de Arte.</h1>
            </hgroup>
        </div>
    </section>
}

<h3>Como hacer una compra?</h3>
<ol class="round">
    <li class="one">
        <h5>Registrate</h5>
        Crea una cuenta.
    </li>

    <li class="two">
        <h5>Selecciona tus productos</h5>
        Elige todos los productos que desees comprar.
    </li>

    <li class="three">
        <h5>Paga</h5>
        Paga tus productos del carrito de compras.
    </li>
</ol>
